@font-face {font-family: "Josefin Sans"; font-weight: 300; src: url("./fonts/JosefinSans-Light.ttf")};
@font-face {font-family: "Josefin Sans"; font-weight: 400; src: url("./fonts/JosefinSans-Regular.ttf")};
@font-face {font-family: "Josefin Sans"; font-weight: 600; src: url("./fonts/JosefinSans-SemiBold.ttf")};

body {
    font-family: "Josefin Sans";
}

* {
    margin: 0;
    padding: 0;
}